// Navigation code here

nav{   
    display:flex;
    justify-content: space-evenly;
    width: 50%;
    margin-left: 25%;
    .pad-font(1%, 2em); //this is my first parametric mixin

a{
    text-decoration: none;
}    
    

    
}


